<div class="main">
	<form id="loginForm" method="POST">
    
        <fieldset>
            <label for="username">{{ tranlations.username_label }}:</label>
            <input type="text" id="username" class="text-input" required autofocus="true"  />

            <label for="password">{{ tranlations.password_label }}:</label>
            <input type="password" id="password" class="text-input" required />
        </fieldset>

        <fieldset>
            <input type="submit" id="loginButton" value="{{ tranlations.login_label }}"/>
            <div id="loginMessage"></div>
        </fieldset>
    
    </form>
</div>


