<div class="main">
	<form id="loginForm" method="POST">
    
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" id="username" class="text-input" required autofocus="true"  />

            <label for="password">Password:</label>
            <input type="password" id="password" class="text-input" required />
        
        </fieldset>

        <fieldset>
            <input type="submit" id="loginButton" value="login"/>
        </fieldset>
    
    </form>
</div>


