<div>
	<h3>{{nls.ShipListTitle}}</h3>

	<table class="table table-striped">	
		<thead>
			<tr>
				<th>{{nls.Name}}</th>
				<th>{{nls.Level}}</th>
				<th>{{nls.Damage}}</th>
			</tr>
		</thead>
		<tbody>
			{{#each options.ship}}
			<tr class="">
				<td><i class="icon-{{icon}} icon-white"></i> {{name}}</td>
				<td>{{level}}</td>
				<td>
					<div class="progress progress-striped active">
						<div class="bar bar-warning" style="width: {{damage}}%;"></div>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>						
	</table>
</div>