<div>
	<div class="navbar">

		<div class="navbar-inner">
			<a class="brand">{{ nls.app_title }}</a>

			<ul class="nav">			
				<li class="divider-vertical"></li>
				<li><a href="#desktop">{{ nls.desktop }}</a></li>
				<li><a href="#placeholder">PLACEHOLDER</a></li>
				<li><a href="#tree">{{ nls.tree }}</a></li>
				<li><a href="#logout">{{ nls.logout }}</a></li>
			</ul>

            <p class="navbar-text pull-right">
              {{ nls.logged_in_as }} 
              <i class="icon-user"></i> 
              <a href="#" id="username_navbar" class="navbar-link"></a>
            </p>

		</div>

	</div>
</div>